<!DOCTYPE html>
<html lang="en">
<head>
    <!--TEMPLATE META-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="shortcut icon" type="image/icon" href="~/logo/logo_news.png" />

    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
                                 
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
                                 
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootsnav.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!--MY META-->
    <title>News</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HW_EF.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- top-area Start -->
        <section class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
    
                    <div class="container">
    
                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index">hot<span>news</span></a>
                        </div>
                        <!-- End Header Navigation -->

                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="scroll">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="scroll">
                                    <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="scroll">
                                    <a asp-controller="Home" asp-action="Login">Login</a>
                                </li>
                                @* <li class="scroll">
                                    <a asp-controller="People" asp-action="PersonalArea">PersonalArea</a>
                                </li> *@
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navigation -->
            </div>
            <div class="clearfix"></div>
    
        </section>
        <!-- top-area End -->
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--footer end-->
    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - News - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    
    
    <!--TEMPLATE SCRIPTS-->
    <script src="assets/js/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/bootsnav.js"></script>

    <script src="assets/js/feather.min.js"></script>

    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>

    <script src="assets/js/slick.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <script src="assets/js/custom.js"></script>

    <!--MY SCRIPTS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
